
body {
  background-color: #FFF;
  margin: 20px 0; 
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

body p {
  font-size: 11px;
}

h1 {
  font-size: 2em;
  margin: 0 0 20px 0;
}

h2 {
  font-size: .8em;
}

.slider {
  width: 100%;
}

/* Chorpleth main SVG container */
.choro-container {
    border: solid 1px #999;
    overflow: hidden;
    fill: #e6f2ff;
    background-color: #e6f2ff;
}


.custom-well {
  padding-top: 10px;
  border-top: solid 1px #CCCCCC;
}

.description-well {
  margin-top: 35px;
}

.chart {
  border: solid 1px #999999;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  text-align: center;
   
}

.chart.map { 
  background-color: #e6f2ff;
}

.bigProp {
  font-size: 2em;
  display: block;
}
  
/* Shape class */
.feature {
  stroke: #AAAAAA;
  stroke-width: .5;
  fill: #777; 
  xxshape-rendering: crispEdges;
  xxvector-effect: non-scaling-stroke;
}

/* Highlight the shape on mouseover */
.highLight {
  stroke: #0056b3 ;
  stroke-width: 3;
  opacity: .3;
  z-index: 1000;
}

/* Pointy box for hover */
.arrow_box {
        position: relative;
        background: #ffffff;
        border: 2px solid #2acafd;
        min-width: 80px;
        min-height: 70px;
        padding: 10px;
        font-family: arial, sans;
        font-size: 1em;
}

.arrow_box:after, .arrow_box:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
}

.arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 14px;
        margin-top: -14px;
}

.arrow_box:before {
      border-color: rgba(44, 191, 245, 0);
      border-right-color: #2cbff5;
      border-width: 17px;
      margin-top: -17px;
}

.shadow {
      -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
      box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
}

.mouseMove {
  cursor: move;
}


/* Pointy box for hover */
.arrow_box {
  position: relative;
  background: #ffffff;
  border: 2px solid #2acafd;
  min-width: 80px;
  min-height: 70px;
  padding: 10px;
  font-family: arial, sans;
  font-size: 1em;
}

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 14px;
  margin-top: -14px;
}

.arrow_box:before {
border-color: rgba(44, 191, 245, 0);
border-right-color: #2cbff5;
border-width: 17px;
margin-top: -17px;
}

.shadow {
-webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
}